.cards {
    padding: 4rem;
    background: #FFFFFF;
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;

  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
    width:95%;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .cards__item__link {
    display: flex;
    flex:1;
    padding: 10 10 10 10;
    border-radius: 10px;
    margin-bottom: 30px;
    flex-flow: column;
    width: 100%;
    min-height: 225px;
    box-shadow: 0 6px 20px rgba(0,0,0, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(0,0,0, 0.017));
    filter: drop-shadow(0 6px 20px rgba(0,0,0, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
 
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    padding-bottom: 50px;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  
  .cards__item__info {
    padding: 20px 30px 30px;
    padding-bottom: 50px;
    height: 100%;
    width: 90%;
  }
  
  #splitRight{
    right: 0;
    margin: 20px;
    margin-bottom: 50px;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    
  }
  #splitLeft{
    left: 0;
    
    width: 75%;
    position: flex;
    z-index: 1;
    top: 0;
    overflow: hidden;

    
  }
  
  .gradeCards__item__gradeDesc {
    color: #e0e2db;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    
  }

  .gradeCards__item__gradeTitle{
    color: #e0e2db;
    font-size: 36px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }